nav {
    background: pink;
    padding: 15px;
  }
  
ol {
    padding: 0;
    list-style: none;
    counter-reset: item;
  }
  
li::before {
    content: counter(item) ".";
    color: #fff;
}
  
li {
    color: #fff;
    margin-bottom: 10px;
    background: lightcoral;
    padding: 10px 0 10px 15px;
    counter-increment: item;
    list-style-type: none;
  }
  
span {
    margin-left: 25px;
    padding: 10px;
    background: rgb(163, 0, 0);}
